{% extends "base.html" %}

{% block content %}
<div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Detalles de la Orden</h2>
    <div class="mb-2">
        <span class="text-lg font-semibold">Usuario: </span>
        <span class="text-lg">{{ order.user.username|title }}</span>
    </div>
    <div class="mb-2">
        <span class="text-lg font-semibold">Fecha de la Orden: </span>
        <span class="text-lg">{{ order.order_date|date:"F j, Y H:m" }}</span>
    </div>

    <div class="mt-6">
        <h3 class="text-xl font-bold mb-2">Artículos en tu orden:</h3>
        {% for product_order in order.orderproduct_set.all %}
            <div class="flex justify-between items-center py-2 border-b">
                <div class="text-lg">{{ product_order.product.nombre }}</div>
                <div class="text-lg font-semibold">${{ product_order.product.precio }}</div>
            </div>
        {% empty %}
            <div class="text-red-500">No hay artículos en tu orden</div>
        {% endfor %}
    </div>

    <div class="mt-6">
        <div class="flex justify-between items-center">
            <span class="text-xl font-bold">Total:</span>
            <span class="text-xl font-semibold">${{ total_price }}</span>
        </div>
    </div>

    {% if order %}
        <div class="mt-6">
            <form action="{% url 'eliminar_orden' order.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded-lg">
                    Eliminar orden
                </button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock content %}
